/* textarea {
    text-align: right;
} */
legend{
    font-weight: bold;
}

textarea.bling {
    font-weight: bold;
    text-decoration: underline;
    color: green;
}

body.bling{
    background-image: url("../images/hundred-dollar-bill.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}