body{
    background-color: hsl(10, 50%, 50%);
    color: hsl(190, 60%, 50%);
    font-family: Arial, "Areal Black", Verdana;
    margin-left: 50px;
}
p:first-letter {
    float: left;
    font-size: 45px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}
p > span.emphesize {
    font-weight: bold;
    color: white;
}
li a {
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
img.mood {
    width: 200px;
    height: 200px;
}
h2 {
    text-decoration: underline;
}